<?xml version="1.0"?>
  <package >
    <metadata>
      <id>$ID$</id>
      <authors>$AUTHOR$</authors>
      <version>$VERSION$</version>
      <owners>$AUTHOR$</owners>
      <iconUrl>$ICONURL$</iconUrl>
      <requireLicenseAcceptance>false</requireLicenseAcceptance>
      <description>$ID$</description>
    </metadata>
    <files>
      <file src="$Folder$" />
    </files>
  </package>
